.index-wrapper .title {
  padding-top: 20rpx;
  margin: 0 20rpx;
}
.index-wrapper .title .text {
  font-size: 24rpx;
  color: #999;
}
.index-wrapper .title .text .iconfont {
  font-size: 36rpx;
  color: var(--view-theme);
  margin-top: 4rpx;
  margin-right: 12rpx;
  font-style: normal;
  font-weight: normal;
}
.index-wrapper .title .text .name {
  color: #282828;
  font-size: 34rpx;
  font-weight: bold;
  margin-bottom: 5rpx;
  position: relative;
  display: flex;
  align-items: center;
}
.index-wrapper .title .text .name .new {
  position: absolute;
  top: 2rpx;
  left: 130rpx;
  font-size: 16rpx;
  font-weight: bold;
}
.index-wrapper .title .more {
  font-size: 24rpx;
  color: #999999 !important;
}
.index-wrapper .title .more .iconfont {
  margin-left: 9rpx;
  font-size: 26rpx;
}

.product-con .mask {
  z-index: 99 !important;
}

.product-con .conter img {
  max-width: 750rpx !important;
  height: unset !important;
}

.product-con .wrapper {
  background-color: #fff;
}

.product-con .wrapper .share {
  margin: 0 30rpx;
  padding-top: 25rpx;
}

.product-con .wrapper .share .money {
  font-size: 28rpx;
  font-weight: 700;
}

.product-con .wrapper .share .money .num {
  font-size: 48rpx;
}

.product-con .wrapper .share .money .vip-money {
  color: #282828;
  margin-left: 13rpx;
}

.product-con .wrapper .share .money image {
  width: 46rpx;
  height: 21rpx;
  margin-left: 7rpx;
}

.product-con .wrapper .share .money .vip-money {
  color: #282828;
  margin-left: 13rpx;
}

.product-con .wrapper .share .iconfont {
  color: #515151;
  font-size: 40rpx;
  margin-bottom: 10rpx;
}

.product-con .wrapper .introduce {
  font-size: 32rpx;
  font-weight: 700;
  margin: 23rpx 30rpx 0 30rpx;
  word-break: break-all;
}

.product-con .wrapper .label {
  margin: 0 30rpx;
  font-size: 24rpx;
  color: #82848f;
  margin-top: 22rpx;
}

.product-con .wrapper .coupon {
  padding: 0 30rpx;
  border-top: 1rpx solid #f5f5f5;
  height: 80rpx;
  font-size: 26rpx;
  color: #82848f;
}

.product-con .wrapper .coupon .hide {
  width: 540rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.product-con .wrapper .coupon .activity {
  height: 40rpx;
  padding: 0 20rpx;
  border: 1rpx solid var(--view-minorColor);
  color: var(--view-theme);
  font-size: 24rpx;
  line-height: 40rpx;
  position: relative;
  margin: 19rpx 0 19rpx 15rpx;
}

.product-con .wrapper .coupon .activity:before {
  content: " ";
  position: absolute;
  width: 7rpx;
  height: 10rpx;
  border-radius: 0 7rpx 7rpx 0;
  border: 1rpx solid var(--view-minorColor);
  background-color: #fff;
  bottom: 50%;
  left: -3rpx;
  margin-bottom: -6rpx;
  border-left-color: #fff;
}

.product-con .wrapper .coupon .activity:after {
  content: " ";
  position: absolute;
  width: 7rpx;
  height: 10rpx;
  border-radius: 7rpx 0 0 7rpx;
  border: 1rpx solid var(--view-minorColor);
  background-color: #fff;
  right: -3rpx;
  bottom: 50%;
  margin-bottom: -6rpx;
  border-right-color: #fff;
}

.product-con .wrapper .coupon .iconfont {
  color: #7a7a7a;
  font-size: 28rpx;
}

.product-con .attribute {
  background-color: #fff;
  padding: 0 30rpx;
  font-size: 26rpx;
  color: #82848f;
  margin-top: 20rpx;
  min-height: 80rpx;
}

.product-con .attribute .atterTxt {
  font-size: 28rpx;
  color: #282828;
}

.product-con .attribute .iconfont {
  font-size: 28rpx;
  color: #7a7a7a;
  line-height: 40rpx;
}

.product-con .userEvaluation {
  margin-top: 20rpx;
  background-color: #fff;
}

.product-con .userEvaluation .title {
  height: 86rpx;
  border-bottom: 1rpx solid #eee;
  font-size: 28rpx;
  color: #282828;
  margin-left: 30rpx;
  padding-right: 30rpx;
}

.product-con .userEvaluation .title .praise {
  font-size: 28rpx;
  color: grey;
}

.product-con .userEvaluation .title .praise .iconfont {
  color: #7a7a7a;
  font-size: 28rpx;
  vertical-align: 1rpx;
  margin-left: 8rpx;
}

.product-con .product-intro {
  position: relative;
  margin-top: 20rpx;
  width: 100%;
  // padding-bottom: 100rpx;
  overflow: hidden;
}

.product-con .product-intro .title {
  font-size: 30rpx;
  color: #333;
  height: 86rpx;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 86rpx;
}

.product-con .product-intro .conter {
  width: 100%;
}

.product-con .product-intro .conter image {
  width: 100% !important;
  display: block !important;
}

.goodsStyle {
  margin-top: 1rpx;
  background-color: #fff;
  padding: 22rpx 30rpx;
  display: flex;
  align-items: center;
}

.goodsStyle .pictrue {
  width: 120rpx;
  height: 120rpx;
}

.goodsStyle .pictrue image {
  width: 100%;
  height: 100%;
  border-radius: 6rpx;
}

.goodsStyle .text {
  width: 545rpx;
  font-size: 28rpx;
  color: #999;
}

.goodsStyle .text .name {
  width: 360rpx;
  height: max-content;
  color: #282828;
}

.goodsStyle .text .money {
  text-align: right;
}

.goodsStyle .text .money .num {
  margin-top: 7rpx;
}

.goodWrapper .item {
  margin-left: 30rpx;
  margin-right: 30rpx;
  height: 180rpx;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.goodWrapper .item .pictrue {
  width: 130rpx;
  height: 130rpx;
}

.goodWrapper .item .pictrue image {
  width: 100%;
  height: 100%;
  border-radius: 6rpx;
}

.goodWrapper .item .text {
  width: calc(100% - 130rpx);
  padding-left: 20rpx;
  position: relative;
}

.goodWrapper .item .text .name {
  font-size: 28rpx;
  color: #282828;
  width: 453rpx;
}

.goodWrapper .item .text .num {
  font-size: 26rpx;
  color: #868686;
}

.goodWrapper .item .text .attr {
  font-size: 20rpx;
  color: #868686;
  margin-top: 7rpx;
}

.goodWrapper .item .text .money {
  font-size: 26rpx;
  margin-top: 17rpx;
}

.goodWrapper .item .text .evaluate {
  position: absolute;
  width: 114rpx;
  height: 46rpx;
  border: 1rpx solid #bbb;
  border-radius: 4rpx;
  text-align: center;
  line-height: 46rpx;
  right: 0;
  bottom: -5rpx;
}

.goodWrapper .item .text .evaluate.userEvaluated {
  font-size: 26rpx;
  color: #aaa;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.promoterHeader {
  width: 100%;
  height: 220rpx;
}

.promoterHeader .headerCon {
  width: 100%;
  height: 100%;
  padding: 0 88rpx 0 55rpx;
  box-sizing: border-box;
  font-size: 28rpx;
  color: #fff;
  background-image: url("https://goyoto.oss-cn-beijing.aliyuncs.com/images/extracted/static_css_style.scss_0.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.promoterHeader .headerCon .name {
  margin-bottom: 10rpx;
}
.promoterHeader .headerCon .num {
  font-size: 50rpx;
}
.promoterHeader .headerCon .iconfont {
  font-size: 125rpx;
}
.sign-record .list .item .data {
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  font-size: 24rpx;
  color: #666;
}
.sign-record .list .item .listn {
  background-color: #fff;
  font-size: 24rpx;
  color: #999;
}
.sign-record .list .item .listn .itemn .name {
  width: 390rpx;
  font-size: 28rpx;
  color: #282828;
  margin-bottom: 10rpx;
}
.sign-record .list .item .listn .itemn .num {
  font-size: 36rpx;
  /* font-family: "Guildford Pro"; */
  color: #16ac57;
}
.sign-record .list .item .listn .itemn .num.font-color {
  color: var(--view-priceColor) !important;
}
.coupon-list {
  padding: 0 30rpx;
  margin-top: 25rpx;
}
.coupon-list .item {
  width: 100%;
  height: 170rpx;
  margin-bottom: 16rpx;
}
.coupon-list .item .money {
  width: 220rpx;
  height: 100%;
  color: #fff;
  font-size: 36rpx;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coupon-list .item .moneyCon,
.coupons .list .item .moneyCon {
  background-color: var(--view-theme);
  height: 100%;
}
.coupon-list .item .money,
.coupons .list .item .price {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("https://goyoto.oss-cn-beijing.aliyuncs.com/images/extracted/static_css_style.scss_1.png");
}
.coupon-list .item .money.moneyGray,
.coupons .list .item .price.moneyGray {
  background-color: #ccc;
}
.coupon-list .item .money .num {
  font-size: 60rpx;
}
.coupon-list .item .text {
  width: 470rpx;
  padding: 6rpx 17rpx 0 24rpx;
  box-sizing: border-box;
  background-color: #fff;
}
.coupon-list .item .text .condition {
  font-size: 30rpx;
  color: #282828;
  height: 93rpx;
}
.coupon-list .item .text .data {
  font-size: 20rpx;
  color: #999;
  height: 50rpx;
  display: flex;
  flex-wrap: nowrap;
}
.coupon-list .item .text .data .bnt {
  width: 136rpx;
  height: 44rpx;
  border-radius: 22rpx;
  font-size: 22rpx;
  text-align: center;
  line-height: 44rpx;
  color: #fff;
}
.coupon-list .item .text .data .bnt.gray {
  background: #ccc !important;
}
.coupon-list .item.svip .money {
  background-color: #edbb75;
}
.coupon-list .item.svip .condition .line-title {
  border-color: #eec181;
  background-color: #fef7ec;
  color: #eec181;
}
.coupon-list .item.svip .bg-color {
  background: linear-gradient(90deg, #edc98a 0%, #edbb75 100%);
}
.coupon-list .item.svip .bnt.gray {
  background: #cccccc;
}
.coupon-list .item.svip .line1 .image {
  width: 30rpx;
  height: 30rpx;
  margin-right: 10rpx;
  vertical-align: middle;
  z-index: 0;
}

.noCommodity {
  // border-top: 7rpx solid #f5f5f5
}

.noCommodity .pictrue {
  width: 414rpx;
  height: 336rpx;
  margin: 30rpx auto 30rpx auto;
}

.noCommodity .pictrue image {
  width: 100%;
  height: 100%;
} // 登录、注册、忘记密码
.register {
  background-image: linear-gradient(to bottom, #eb5447 0, #ff8e3b 100%);
  width: 100%;
  height: 100vh;
}

.register .shading {
  background-image: url("https://goyoto.oss-cn-beijing.aliyuncs.com/images/extracted/static_css_style.scss_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 286rpx;
  padding-top: 70rpx;
}

.register .shading .pictrue {
  width: 172rpx;
  height: 172rpx;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

.register .shading .pictrue image {
  width: 164rpx;
  height: 164rpx;
  border-radius: 50%;
  display: block;
}

.register .whiteBg {
  width: 620rpx;
  border-radius: 16rpx;
  background-color: #fff;
  margin: 30rpx auto 0 auto;
  padding: 45rpx 30rpx 0 30rpx;
}

.register .whiteBg .title {
  font-size: 36rpx;
  color: #282828;
  text-align: center;
  font-weight: 700;
}

.register .whiteBg .title .item ~ .item {
  margin-left: 85rpx;
}

.register .whiteBg .title .item {
  color: #999;
  border-bottom: 5rpx solid #fff;
  padding-bottom: 10rpx;
}

.register .whiteBg .title .item.on {
  color: #282828;
  border-bottom-color: #f35749;
}

.register .whiteBg .list .item {
  border-bottom: 1rpx solid #ededed;
  padding: 47rpx 0 13rpx 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.register .whiteBg .list .item .name {
  font-size: 26rpx;
  color: #2d3342;
  margin-bottom: 27rpx;
  text-align: left;
}

.register .whiteBg .list .item image {
  width: 40rpx;
  height: 40rpx;
  display: block;
}

.register .whiteBg .list .item input {
  font-size: 32rpx;
  flex: 1;
  margin-left: 20rpx;
}

.register .whiteBg .list .item .placeholder {
  color: #ccc;
}

.register .whiteBg .list .item .codeIput {
  width: 250rpx;
  margin-left: 20rpx;
}

.register .whiteBg .list .item .code {
  position: absolute;
  width: 150rpx;
  height: 50rpx;
  background-color: #f35446;
  border-radius: 30rpx;
  color: #fff;
  line-height: 50rpx;
  text-align: center;
  bottom: 17rpx;
  right: 0;
  font-size: 25rpx;
}

.register .whiteBg .list .item .code.on {
  background-color: #bbb;
}

.register .whiteBg .list .forgetPwd {
  text-align: right;
  font-size: 28rpx;
  color: #666;
  margin-top: 20rpx;
}

.register .whiteBg .list .forgetPwd .iconfont {
  font-size: 30rpx;
  margin-right: 10rpx;
  vertical-align: middle;
}

.register .whiteBg .logon {
  font-size: 34rpx;
  color: #fff;
  font-weight: 700;
  height: 86rpx;
  border-radius: 43rpx;
  background: linear-gradient(to right, #f35447 0, #ff8e3c 100%);
  text-align: center;
  line-height: 86rpx;
  margin-top: 47rpx;
}

.register .whiteBg .tip {
  height: 110rpx;
  text-align: center;
  line-height: 105rpx;
  font-size: 30rpx;
  color: #ccc;
}

.register .bottom {
  background-image: url("https://goyoto.oss-cn-beijing.aliyuncs.com/images/extracted/static_css_style.scss_3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 620rpx;
  height: 36rpx;
  margin: 0 auto;
} // 首页修改轮播内部样式；
.index-bg .uni-swiper-dot {
  width: 20rpx !important;
  height: 5rpx !important;
  border-radius: 3rpx;
}

.boutique .uni-swiper-dot {
  width: 7rpx !important;
  height: 7rpx !important;
  border-radius: 50%;
}

.boutique .uni-swiper-dot-active {
  width: 20rpx !important;
  border-radius: 5rpx !important;
}

.sign-record .list .item .data {
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  font-size: 24rpx;
  color: #666;
}

.sign-record .list .item .listn {
  background-color: #fff;
  font-size: 24rpx;
  color: #999;
}

.sign-record .list .item .listn .itemn {
  // height: 120rpx;
  border-bottom: 1rpx solid #eee;
  padding: 30rpx;
}
.sign-record .list .item .listn .itemn .fail-msg {
  margin-top: 10rpx;
}

.sign-record .list .item .listn .itemn .name {
  // width: 390rpx;
  font-size: 28rpx;
  color: #282828;
  margin-bottom: 10rpx;
}

.sign-record .list .item .listn .itemn .num {
  font-size: 36rpx;
  /* font-family: "Guildford Pro"; */
  color: #16ac57;
}

.statistical-page .mc-body {
  padding-bottom: 0;
}

.statistical-page .mpvue-calendar {
  min-width: 100%;
}

.statistical-page .mpvue-calendar table {
  margin: 0;
}

.statistical-page .mpvue-calendar td {
  border-right: 1px solid #fff;
  padding: 0;
  width: 14% !important;
}

.statistical-page .calendar-tools {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -o-box-shadow: unset;
  -moz-box-shadow: unset;
}

.statistical-page .mc-head-box div {
  font-size: 14px;
}

.statistical-page .mpvue-calendar td:not(.disabled) span.mc-date-red {
  color: unset;
}

.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .mc-range-begin
  span.calendar-date,
.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .mc-range-end
  span.calendar-date {
  border-radius: 0;
  background-color: #2291f8 !important;
}

.statistical-page .mpvue-calendar td.selected span.mc-date-red {
  color: #fff;
}

.statistical-page .mc-range-mode .selected .mc-range-bg {
  background-color: #a0dcf9;
}

.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .mc-range-row-first
  .calendar-date,
.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .mc-range-row-last
  .calendar-date {
  background-color: #a0dcf9;
}

.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .selected.mc-range-second-to-last
  span {
  background-color: #a0dcf9;
}

.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .mc-range-month-first.selected
  .calendar-date,
.statistical-page
  .mpvue-calendar
  .mc-range-mode
  .mc-range-month-last.selected
  .calendar-date {
  background-color: #a0dcf9;
}

.statistical-page .mc-today-element .calendar-date {
  border-radius: 0;
  background-color: unset;
}

.new-users .uni-swiper-dot {
  width: 8px;
  height: 4px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.new-users .uni-swiper-dot-active {
  width: 16px;
  height: 4px;
  background: var(--view-theme) !important;
  border-radius: 2px;
}

.pictrue_log {
  width: 80rpx;
  height: 40rpx;
  border-radius: 20rpx 0 20rpx 0;
  line-height: 40rpx;
  font-size: 24rpx;
}

.pictrue_log_class {
  // background: -webkit-gradient(linear,left top,right top,from(rgba(246,122,56,1)),to(rgba(241,27,9,1)));
  // background: linear-gradient(90deg,rgba(246,122,56,1) 0,rgba(241,27,9,1) 100%);
  background-color: var(--view-theme);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  z-index: 3;
}

.pictrue_log_medium {
  width: 80rpx;
  height: 44rpx;
  border-radius: 20rpx 0 20rpx 0;
  line-height: 44rpx;
  text-align: center;
  font-size: 26rpx;
}

.pictrue_log_big {
  width: 100rpx;
  height: 46rpx;
  line-height: 46rpx;
  border-radius: 20rpx 0 20rpx 0;
  font-size: 28rpx;
}

.spike-box .styleAll {
  background-color: #ffdfdd;
  color: #e93323;
  padding: 0 5rpx;
}

.product-con .nav .time .timeTxt {
  color: #fff;
}

.bg-color-hui {
  background: #bbb !important;
}

.page_content .swiper .uni-swiper-dot {
  width: 20rpx !important;
  height: 5rpx !important;
  border-radius: 3rpx;
  background: rgba(0, 0, 0, 0.4) !important;
}

.page_content .swiper .uni-swiper-dot-active {
  width: 20rpx !important;
  border-radius: 5rpx !important;
  background: #fff !important;
}

.pictrue_log_xl {
  background: linear-gradient(
    90deg,
    rgba(246, 122, 56, 1) 0,
    rgba(241, 27, 9, 1) 100%
  );
}

.pictrue_log_xl_gray {
  background: linear-gradient(
    90deg,
    rgba(102, 102, 102, 1) 0,
    rgba(153, 153, 153, 1) 100%
  );
}

.pictrue_log_xl_blue {
  background: linear-gradient(
    90deg,
    rgba(26, 163, 246, 1) 0,
    rgba(24, 192, 244, 1) 100%
  );
}

.flex-aj-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-index.bgf .noCommodity {
  border-top: 0;
}

.product-con .red {
  color: #82848f !important;
}

.borderShow {
  position: relative;
}
.borderShow::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed #007aff;
  box-sizing: border-box;
}

uni-checkbox:not([disabled]) .uni-checkbox-input:hover {
  border-color: #d1d1d1;
}
.bg-green {
  background-color: #3cbb45;
}
.bg-theme {
  background-color: var(--view-theme);
}
uni-toast .uni-toast {
  font-size: 30rpx;
}

.status_bar {
  height: var(--status-bar-height);
}
.status_bar_red {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--status-bar-height);
  background: #e93323;
}
.eject {
  transform: translate3d(0, 0, 0) !important;
}
.poster-pop .poster-img {
  border-radius: 6px;
}
