.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-col {
  display: flex;
  flex-direction: column;
}


.flex-y-center {
  display: flex;
  align-items: center;
}


.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: none;
}


.grid-column-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: none;
}


.grid-column-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: none;
}


.abs-lb {
  position: absolute;
  left: 0;
  bottom: 0;
}


.abs-rt {
  position: absolute;
  right: 0;
  top: 0;
}


.fixed-lb {
  position: fixed;
  left: 0;
  bottom: 0;
}


.pt-10 {
  padding-top: 10rpx;
}


.pt-20,
.pt-20rpx {
  padding-top: 20rpx;
}


.ml-20,
.ml-20rpx {
  margin-left: 20rpx;
}


.mt-20,
.mt-20rpx {
  margin-top: 20rpx;
}


.mt-22 {
  margin-top: 22rpx;
}


.mt-6,
.mt-6rpx {
  margin-top: 6rpx;
}


.mt-8,
.mt-8rpx {
  margin-top: 8rpx;
}


.inline {
  display: inline;
}


.inline-block {
  display: inline-block;
}


.bg--w111-E93323 {
  --un-bg-opacity: 1;
  background-color: rgba(233, 51, 35, var(--un-bg-opacity));
}


.bg--w111-f5f5f5 {
  --un-bg-opacity: 1;
  background-color: rgba(245, 245, 245, var(--un-bg-opacity));
}


.bg--w111-F7E9CD {
  --un-bg-opacity: 1;
  background-color: rgba(247, 233, 205, var(--un-bg-opacity));
}


.bg--w111-fff {
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
}


.rd-12rpx {
  border-radius: 12rpx;
}


.rd-14rpx {
  border-radius: 14rpx;
}


.rd-16rpx {
  border-radius: 16rpx;
}


.rd-24 {
  border-radius: 192rpx;
}


.rd-24rpx {
  border-radius: 24rpx;
}


.rd-28rpx {
  border-radius: 28rpx;
}


.rd-30rpx {
  border-radius: 30rpx;
}


.rd-36px {
  border-radius: 36px;
}


.rd-40rpx {
  border-radius: 40rpx;
}


.rd-44rpx {
  border-radius: 44rpx;
}


.rd-4rpx {
  border-radius: 4rpx;
}


.rd-50-p111- {
  border-radius: 50%;
}


.rd-8rpx {
  border-radius: 8rpx;
}


.rd-b-24rpx {
  border-bottom-left-radius: 24rpx;
  border-bottom-right-radius: 24rpx;
}


.rd-t-24rpx {
  border-top-left-radius: 24rpx;
  border-top-right-radius: 24rpx;
}


.rd-t-40rpx {
  border-top-left-radius: 40rpx;
  border-top-right-radius: 40rpx;
}


.bg-red {
  background-color: #e93323;
}


.fs-24,
.text-24rpx {
  font-size: 24rpx;
}


.fs-28,
.text-28rpx {
  font-size: 28rpx;
}


.fs-30,
.text-30rpx {
  font-size: 30rpx;
}


.fw-500 {
  font-weight: 500;
}


.fw-700,
.fw-bold {
  font-weight: 700;
}


.lh-26rpx {
  line-height: 26rpx;
}


.lh-28rpx {
  line-height: 28rpx;
}


.lh-30rpx {
  line-height: 30rpx;
}


.lh-32rpx {
  line-height: 32rpx;
}


.lh-34rpx {
  line-height: 34rpx;
}


.lh-36rpx {
  line-height: 36rpx;
}


.lh-40rpx {
  line-height: 40rpx;
}


.lh-42rpx {
  line-height: 42rpx;
}


.lh-44rpx {
  line-height: 44rpx;
}


.lh-62rpx {
  line-height: 62rpx;
}


.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}


.text-w111-303133 {
  color: #303133;
}


.text--w111-333 {
  --un-text-opacity: 1;
  color: rgba(51, 51, 51, var(--un-text-opacity));
}


.text--w111-666 {
  --un-text-opacity: 1;
  color: rgba(102, 102, 102, var(--un-text-opacity));
}


.text--w111-999 {
  --un-text-opacity: 1;
  color: rgba(153, 153, 153, var(--un-text-opacity));
}


.text--w111-ccc {
  --un-text-opacity: 1;
  color: #ccc;
}


.text--w111-666 {
  --un-text-opacity: 1;
  color: #666;
}


.text--w111-fff {
  --un-text-opacity: 1;
  color: rgba(255, 255, 255, var(--un-text-opacity));
}


.flex {
  display: flex;
}


.flex-1 {
  flex: 1 1 0%;
}


.flex-wrap {
  flex-wrap: wrap;
}


.grid-gap-16rpx {
  grid-gap: 16rpx;
  gap: 16rpx;
}


.grid-gap-18rpx {
  grid-gap: 18rpx;
  gap: 18rpx;
}


.grid-gap-20rpx {
  grid-gap: 20rpx;
  gap: 20rpx;
}


.grid-gap-22rpx {
  grid-gap: 22rpx;
  gap: 22rpx;
}


.absolute {
  position: absolute;
}


.fixed {
  position: fixed;
}


.relative {
  position: relative;
}


.h-100 {
  height: 100rpx;
}


.h-100-p111-,
.h-full {
  height: 100%;
}


.h-106 {
  height: 106rpx;
}


.h-120 {
  height: 120rpx;
}


.h-128 {
  height: 128rpx;
}


.h-142 {
  height: 142rpx;
}

.h-42 {
  height: 42rpx;
}

.h-200 {
  height: 200rpx;
}


.h-240 {
  height: 240rpx;
}


.h-26 {
  height: 26rpx;
}


.h-280 {
  height: 280rpx;
}


.h-32 {
  height: 32rpx;
}


.h-34,
.h-34rpx {
  height: 34rpx;
}


.h-36 {
  height: 36rpx;
}


.h-40 {
  height: 40rpx;
}


.h-400 {
  height: 400rpx;
}


.h-44 {
  height: 44rpx;
}


.h-48 {
  height: 48rpx;
}


.h-56 {
  height: 56rpx;
}


.h-62 {
  height: 62rpx;
}


.h-60 {
  height: 60rpx;
}


.h-66 {
  height: 66rpx;
}


.h-68 {
  height: 68rpx;
}


.h-72 {
  height: 72rpx;
}


.h-80 {
  height: 80rpx;
}


.h-88 {
  height: 88rpx;
}


.h-90 {
  height: 90rpx;
}


.h-96 {
  height: 96rpx;
}


.h-100 {
  height: 100rpx;
}


.w-100 {
  width: 100rpx;
}


.w-100-p111-,
.w-full {
  width: 100%;
}


.w-140 {
  width: 140rpx;
}


.w-144 {
  width: 144rpx;
}


.w-160 {
  width: 160rpx;
}


.w-200 {
  width: 200rpx;
}


.w-222 {
  width: 222rpx;
}


.w-32 {
  width: 32rpx;
}


.w-34 {
  width: 34rpx;
}


.w-316 {
  width: 316rpx;
}


.w-324 {
  width: 324rpx;
}


.w-36 {
  width: 36rpx;
}


.w-40 {
  width: 40rpx;
}

.w-42 {
  width: 42rpx;
}

.w-44 {
  width: 44rpx;
}


.w-504 {
  width: 504rpx;
}


.w-60 {
  width: 60rpx;
}


.w-690 {
  width: 690rpx;
}


.w-90 {
  width: 90rpx;
}


.w-96 {
  width: 96rpx;
}


.w-100 {
  width: 100rpx;
}


.visible {
  visibility: visible;
}


.vertical-middle {
  vertical-align: middle;
}


.white-nowrap {
  white-space: nowrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}


.justify-end {
  justify-content: flex-end;
}


.justify-between {
  justify-content: space-between;
}


.items-end {
  align-items: flex-end;
}


.items-baseline {
  align-items: baseline;
}


.right-0 {
  right: 0;
}


.bottom-0 {
  bottom: 0;
}


.z-10 {
  z-index: 10;
}


.z-20 {
  z-index: 20;
}


.z-999 {
  z-index: 999;
}


.z-1000 {
  z-index: 1000;
}


.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}


.ml-16 {
  margin-left: 16rpx;
}


.ml-8 {
  margin-left: 8rpx;
}


.mr-10 {
  margin-right: 10rpx;
}


.mr-12 {
  margin-right: 12rpx;
}


.mr-16 {
  margin-right: 16rpx;
}


.mr-20 {
  margin-right: 20rpx;
}


.mr-24 {
  margin-right: 24rpx;
}


.mr-40 {
  margin-right: 40rpx;
}


.mr-8 {
  margin-right: 8rpx;
}


.mt-10 {
  margin-top: 10rpx;
}


.mt-12 {
  margin-top: 12rpx;
}


.mt-14 {
  margin-top: 14rpx;
}


.mt-16 {
  margin-top: 16rpx;
}


.mt-26 {
  margin-top: 26rpx;
}


.mt-30 {
  margin-top: 30rpx;
}


.mt-32 {
  margin-top: 32rpx;
}


.mt-36 {
  margin-top: 36rpx;
}

.mt-40 {
  margin-top: 40rpx;
}

.mt-50 {
  margin-top: 50rpx;
}

.mt-4 {
  margin-top: 4rpx;
}


.mt-40 {
  margin-top: 40rpx;
}


.mt-50 {
  margin-top: 50rpx;
}


.mt-52 {
  margin-top: 52rpx;
}


.mb-10 {
  margin-bottom: 10rpx;
}


.mb-14 {
  margin-bottom: 14rpx;
}


.mb-16 {
  margin-bottom: 16rpx;
}


.mb-20 {
  margin-bottom: 20rpx;
}


.mb-24 {
  margin-bottom: 24rpx;
}


.mb-34 {
  margin-bottom: 34rpx;
}


.mb-38 {
  margin-bottom: 38rpx;
}


.p-20 {
  padding: 20rpx;
}


.p-24 {
  padding: 24rpx;
}


.p-32 {
  padding: 32rpx;
}


.pl-12 {
  padding-left: 12rpx;
}


.pl-16 {
  padding-left: 16rpx;
}


.pl-20 {
  padding-left: 20rpx;
}


.pl-24 {
  padding-left: 24rpx;
}


.pl-30 {
  padding-left: 30rpx;
}


.pl-4 {
  padding-left: 4rpx;
}


.pl-8 {
  padding-left: 8rpx;
}


.pr-12 {
  padding-right: 12rpx;
}


.pr-20 {
  padding-right: 20rpx;
}


.pr-24 {
  padding-right: 24rpx;
}


.pr-30 {
  padding-right: 30rpx;
}


.pt-14 {
  padding-top: 14rpx;
}


.pt-24 {
  padding-top: 24rpx;
}


.pt-32 {
  padding-top: 32rpx;
}


.pt-40 {
  padding-top: 40rpx;
}


.pb-10 {
  padding-bottom: 10rpx;
}


.pb-24 {
  padding-bottom: 24rpx;
}


.pb-32 {
  padding-bottom: 32rpx;
}


.pb-40 {
  padding-bottom: 40rpx;
}


.mx-20 {
  margin: 0 20rpx;
}


.mx-32 {
  margin: 0 32rpx;
}


.px-16 {
  padding: 0 16rpx;
}


.px-20 {
  padding: 0 20rpx;
}


.px-24 {
  padding: 0 24rpx;
}


.px-32 {
  padding: 0 32rpx;
}


.px-8 {
  padding: 0 8rpx;
}

.py-14 {
  padding-top: 14rpx;
  padding-bottom: 14rpx;
}


.py-16 {
  padding-top: 16rpx;
  padding-bottom: 16rpx;
}


.py-32 {
  padding: 32rpx 0;
}


.fs-18 {
  font-size: 18rpx;
}


.fs-20 {
  font-size: 20rpx;
}


.fs-22 {
  font-size: 22rpx;
}


.fs-26 {
  font-size: 26rpx;
}


.fs-32 {
  font-size: 32rpx;
}


.fs-36 {
  font-size: 36rpx;
}


.fs-40 {
  font-size: 40rpx;
}


.text-line {
  text-decoration: line-through;
}


.Regular {
  font-family: Regular;
}


.SemiBold {
  font-family: SemiBold;
}


.bg-cover {
  background-size: cover;
}


.block {
  display: block;
}


.hidden {
  display: none;
}